
{% extends 'base.html' %}
{% load static %}

{% block title %}Ваш заказ{% endblock %}

{% block content %}
<h1 class="mb-4">Ваш заказ</h1>
<div class = "login-container">
<ol class = "orders">
{%for product in products%}
  <li class = "liorder"><h5><strong class="card-title">{{ product.name }}</strong></h5>
  <p class="text-muted">{{ product.price }} руб.</p>
  </li>

{%endfor%}
</ol>
</div>
<a href ="{% url 'order_new' %}" class = "sum"> <h5 >ЗАПЛАТИТЬ: {{total}} рублей </h5> </a>
{% endblock %}
